/* Challenge styles
-------------------------------------------------- */

.challenge-desc {
  overflow-wrap: anywhere;

  img {
    max-width: 100%;
  }
}

.category-flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.category-flex-row .category-header {
  flex-grow: 1;
  width: 10rem;
  flex: 0 0 auto;
}

h5 {
  width: 10rem;
}

.category-flex-row .category-challenges {
  flex-grow: 3;
}

.category-row {
  list-style: none;
  display: flex;
  gap: 5px;
}

.category-row li {
  display: inline-block;
  flex-grow: 1;
  flex-shrink: 1;
  margin-bottom: 2px;
}

.challenge-button {
  color: white;
  height: 4rem;
  width: auto;
  position: relative;
  overflow: visible !important;
  border-radius: 0;
  margin: 0 !important;
  border: none;
}

.challenge-button .challenge-inner  {
  opacity: 100;
  width: auto;
  height: auto;
  padding: 0 !important;
  margin: 0 !important;
  display: inline-block;
}

.challenge-button div p {
  display: none;
}

.challenge-unsolved:hover  {
  background-color: var(--bs-secondary)  !important;
}

.challenge-unsolved {
  background-color: var(--bs-dark) !important;
  border: 1px solid grey;
}

/* Makes text show if challenge is still unsolved */
.challenge-unsolved div p {
  margin-bottom: 0.25rem;
  display: block !important;
}

.category-color-red {
  background-color: #cc0f4f;
}

.category-color-orange {
  background-color: #ec7026;
}

.category-color-yellow {
  background-color: #f9b617;
}

.category-color-green {
  background-color: #2da84d;
}

.category-color-blue {
  background-color: #0f90cc;
}

.category-color-indigo {
  background-color: #593a8e;
}
